.counteiner{
    background-color: #1b8fee;
    width: 100%;
    height: 80px;
    color: #f5f5f5;
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  
}
h1{
    justify-content: left;
    margin-left: 10px;
}
h2{
    margin-left: 10px;
}